[Unit]
Description=Copy Steam gamelaunchers to Gnome environment

[Service]
ExecStart=/usr/bin/python3 /home/marnix/.local/bin/steamapplauncher.py

[Install]
WantedBy=default.target